$dark-blue: #0D3356;
$medium-blue: #3A4980;
$text-blue: #1D364D;

$border-color: #EDEDED;

$shop-bg-color: #F5F1EE;
$notification-bg-color: #EEEFF8;

$product-nav-bg: #EDF0F8;
$like-bg-color: #FFF0F0;
$star-bg-color: #FBF3EA;

$like-text-color: #D46F77;
$star-text-color: #D48D3B;

$grey-text-color: #726C6C;

$yellow-color: #ECDECC;
$green-color: #BBD278;
$violet-color: #BBC1F8;
$pink-color: #FFD3F8;
$gradient-first: #FFB6B6;
$gradient-second: #98C185;

$second-shop-red: #D75951;